<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date, :class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.text_field :start, :class => 'autotime' %>
  </div>
  <div class="field">
    <%= label_tag :ends %><br />
    <%= text_field_tag :ends, params[:ends], :class => 'autotime' %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration, :class => 'autotime' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
