<tr id="todo_td_<%= todo_td.id %>">
    <td><%= todo_td.title %></td>
    <td><%= nl2br(todo_td.description) %></td>
    <td><%= todo_td.date %></td>
    <td><%= numeric_to_hours(todo_td.time) %></td>
    <td><%= link_to 'Edit', edit_todo_path(todo_td), :remote => true %></td>
    <td><%= link_to 'Destroy', todo_td, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
